body {
	font-family: Arial, Helvetica, sans-serif;
	margin: 1em;
	padding: 0;
}

main {
	width: 800px;
	margin: 0 auto;
	padding: 1.5em;
	background: white;
	border: 2px solid #820000;
}

h1 {
	color: #820000;
}


html {
  font-family: 'helvetica neue', helvetica, arial, sans-serif;
}

label {
	width: 10em;
	padding-right: 1em;
	float: left;
}

#data input {
	float: left;
	width: 15em;
	margin-bottom: .5em;
}

#data span {
	padding-left: .25em;
}

#buttons input {
	float: left;
	margin-bottom: .5em;
}

br {
	clear: left;
}


/*   F o o t i e  T a b l e   */

table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border: 3px solid navy;
  background-color: #aed9ff;
  /*background-image: url("EPL_logo.png");*/
}

thead th:nth-child(1) {
  width: 5%;
}

thead th:nth-child(2) {
  width: 5%;
}

thead th:nth-child(3) {
  width: 15%;
}

tbody td:nth-child(3) {
  text-align: left;
  padding: 1%;
}

th {
  padding: 5px;
}

td {
  padding: 1px;
}


caption {
  padding: 20px;
  color: #666;
  text-align: left;
  letter-spacing: 1px;
}
/*
th {
  letter-spacing: 2px;
}
*/

td {
  letter-spacing: 1px;
}

tbody td {
  text-align: center;
}

/*
tfoot th {
  text-align: right;
}
*/

